<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-top</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<style>
    .helper, .helper * {
        outline: 1px solid red;
    }
</style>

<div class="helper Header">
    <div class="helper Header-left">
        <div class="helper Header-left--nav">
            <div class="NavBlock">Home</div>
            <div class="NavBlock">About</div>
            <div class="NavBlock">Contact</div>
        </div>

    </div>

    <div class="Header-middle helper">Landie</div>
    
    <div class="Header-right helper">
        <div class="Content-Btn" style="width: 189px;">
            <div class="Btn">Buy Now</div>

        </div>

    </div>

</div>

</body>

</html>