@import "../button/button";
@import "../nav/nav";
@import "../../assets/styles/global"; 
 
.Header{
    color: #505F98; 
    font: 400 14px/24px 'Roboto', 'Arial';
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
        
    }
    
    &-middle {
        font: 900 26px/38px 'Roboto', 'Arial';
        }

    &-right {
        
    }
} 
