<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <link rel="stylesheet" href="dropdown.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>

<body>
<div class="Dropdown">
    <div class="Dropdown-btn">
        <div class="Btn">
            Выпадающее меню
        </div>
    </div>
    <div class="Dropdown-content">
        <div class="List">
            <div class="List-item">ссылка1</div>
            <div class="List-item">ссылка2</div>
            <div class="List-item">ссылка3</div>
        </div>
        
    </div>
</div>






</body>

</html>