<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контурные кнопки</title>
    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="../../assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>

<div class="Content">
    <div class="NavBlock">
        <div class="NavBlock-link">Home</div>
        <div class="NavBlock-link">About</div>
        <div class="NavBlock-link">Contact</div>

    </div>
   
</div>

</body>

</html>
