.NavBlock {
    color: #505F98; 
    font: 400 14px/24px 'Roboto', 'Arial';
    padding: 2px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    
        :not(:first-child){
            margin-left: 34px;
        }
    
}