<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контурные кнопки</title>
    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="../../assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>

<div class="Content">
    <div class="Content-NavBlock">
        <div class="NavBlock">Home</div>
        <div class="NavBlock NavBlock-center">About</div>
        <div class="NavBlock NavBlock-right">Contact</div>

    </div>
   
</div>

</body>

</html>
