<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page6.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>


<div class="Page">
    <div class="Page-h1">
        A Price To Suit Everyone
    </div>

    <div class="Page-text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. 
        Cum sociis natoque penatibus et magnis dis parturient montes, 
        nascetur ridiculus
    </div>

    <div class="Page-price">$ 40</div>

    <div class="Page-kit">UI Design Kit</div>

    <div class="Page-simple">See, One price. Simple.</div>
    <div class="Page-button">
        <div class="Btn Btn--intline">ECD6D6E8-ABBE-4B2D-84DE-906D920771E1</div>
    </div>


</div>

</body>

</html>