<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PageBlock</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page-block.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<div class="PageBox">
    
    <div class="PageBox-page1">
        <div class="Content">
            <div class="ContentImg">
                <div class="HeroBlock Wrapper">
                
                    <div class="HeroBlock-header">
                        <div class="Header">
                            <div class="Header-left">
                                <div class="Content">
                                    <div class="NavBlock">
                                        <div class="NavBlock-link">Home</div>
                                        <div class="NavBlock-link">About</div>
                                        <div class="NavBlock-link">Contact</div>
                                
                                    </div>
                                    
                                </div>
                        
                            </div>
                        
                            <div class="Header-middle">Landie</div>
                            
                            <div class="Header-right">
                                <div class="Content-Btn" style="width: 189px;">
                                    <div class="Btn">Buy Now</div>
                        
                                </div>
                        
                            </div>
                        
                        </div>
                        
                    </div>
                
                    <div class="HeroBlock-content"> 
                        <div class="HeroContent">
                            <div class="HeroContent-h1">
                                Introduce Your Product Quickly & Effectively
                            </div>
                
                            <div class="HeroContent-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. 
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            </div>
                
                            <div class="HeroContent-BtnBlock">
                                <div class="Btn Btn--inline">Purchase UI Kit</div>
                                <div class="Btn Btn--outline">Learn More</div>
                            </div>
                        </div>
                
                    </div>
        
                </div>
        
            </div>
        
        </div>

    </div>
    <div class="PageBox-page2">
        <div class="Page2 Wrapper">
            <div class="Page2-text">
                <div class="TextBlock1">
                    <div class="TextBlock1-h1">
                        Light, Fast & Powerful
                    </div>
                
                    <div class="TextBlock1-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Aenean commodo ligula eget dolor. Aenean massa. 
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    </div>
                
                    <div class="TextBlock1-infoCardBlock">
                        <div class="InfoCardBlock">
                            <div class="InfoCard">
                                <div class="InfoCard-Icon">
                                    <div>
                                        <img src="../../assets/images/png/Icon.png" alt="Icon Card"> 
                                    </div>
                                </div>
                            
                                <div class="InfoCard-h1">Title Goes Here</div>
                            
                                <div class="InfoCard-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                    Aenean commodo ligula eget dolor.
                                </div>
                            
                            </div>
                            
                            <div class="InfoCard InfoCardBlock--icon2">
                                <div class="InfoCard-Icon">
                                    <div>
                                        <img src="../../assets/images/png/Icon.png" alt="Icon Card"> 
                                    </div>
                                </div>
                            
                                <div class="InfoCard-h1">Title Goes Here</div>
                            
                                <div class="InfoCard-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                    Aenean commodo ligula eget dolor.
                                </div>
                            
                            </div>
                        
                        </div>
        
                    </div>
        
                </div>
        
            </div>
        
            <div class="Page2-img">
                <img src="../../assets/images/png/mobile.png" alt="Page2mobile">
            </div>
        
        </div>
    </div>

    <div class="PageBox-page3">
        <div class="Page3 Wrapper">
            <div class="Page3-img">
                <img src="../../assets/images/png/undraw_happy.png" alt="Page3happy">
            </div>
            <div class="Page3-text">
                <div class="TextBlock1">
                    <div class="TextBlock1-h1">
                        Light, Fast & Powerful
                    </div>
                
                    <div class="TextBlock1-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Aenean commodo ligula eget dolor. Aenean massa. 
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>

    <div class="PageBox-page4">
        <div class="Page4 Wrapper">
            <div class="Page4-img">
                <img src="../../assets/images/png/undraw_social.png" alt="Page4social">
            </div>
            <div class="Page4-text">
                <div class="TextBlock1">
                    <div class="TextBlock1-h1">
                        Light, Fast & Powerful
                    </div>
                
                    <div class="TextBlock1-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Aenean commodo ligula eget dolor. Aenean massa. 
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>

    <div class="PageBox-page5">
        <div class="Page5 Wrapper">
            <div class="Page5-img">
                <img src="../../assets/images/png/undraw_mention.png" alt="Page5mention">
            </div>
            <div class="Page5-text">
                <div class="TextBlock1">
                    <div class="TextBlock1-h1">
                        Light, Fast & Powerful
                    </div>
                
                    <div class="TextBlock1-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Aenean commodo ligula eget dolor. Aenean massa. 
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>

    <div class="PageBox-page6">
        <div class="Page6">
            <div class="Page Wrapper">
                <div class="Page-h1">
                    A Price To Suit Everyone
                </div>
            
                <div class="Page-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus
                </div>
            
                <div class="Page-price">$ 40</div>
            
                <div class="Page-kit">UI Design Kit</div>
            
                <div class="Page-simple">See, One price. Simple.</div>
                <div class="Page-button">
                    <div class="Btn Btn--inline">ECD6D6E8-ABBE-4B2D-84DE-906D920771E1</div>
                </div>
            
            </div>
        
        </div>

    </div>

</div> 



</body>

</html>