.Btn {
    display: inline-block;
    width: 160px;
    padding: 3px 10px;
    border: 2px solid #091133;
    border-radius: 2px;
    background: #111B47;
    color: #FFFFFF;
    font: 500 16px/26px 'Roboto', 'Arial';
    text-align: center;
    max-width: 180px;
    max-height: 36px;
    overflow: hidden;
    

    &--inline {
        margin: 0;
        
    }

    &--outline {
        background: none;  
        color: #091133;
    }
    
}