<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контурные кнопки</title>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="../../assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>

<style>
     .Content > * {
        margin: 10px;
    }
</style>

<div class="Content">
    <div class="Content-Btn" style="width: 189px;">
        <div class="Btn">Purchase UI Kit</div>
    </div>
    <div class="Content-Btn" style="width: 189px;">
        <div class="Btn Btn--w">Learn More</div>
    </div>
</div>



<div class="Content">
    <div class="Content-Btn" style="width: 188px;">
        <div class="SBtn">Purchase UI Kit</div>
    </div>

    <div class="Content-Btn" style="width: 188px;">
        <div class="SBtn  SBtn--outline">Learn More</div>
    </div>

    <div class="SBtn SBtn--inline">Purchase UI Kit</div>
</div>

</body>

</html>
