@import "../button/button";
@import "../../assets/styles/global"; 

 
.FuterStart {
    padding: 60px 0px 41px;
    color: #505F98;
    font: 400 14px/24px 'Roboto', 'Arial';
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
        width: calc(100%/3);
    }
    &--left {
        margin-left: 0;   
    }
    
    &--center {
        font: 900 26px/38px 'Roboto', 'Arial';
        text-align: center;
        }

    &--right {
        margin-left: 0;
        text-align: right;
    }
} 