@import "../header-block/header-block";
@import "../../assets/styles/global"; 


.ContentImg {
    background-image: url("../../assets/images/png/designer_1.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 1103px;
    display: flex; 
} 
