<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page4.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>


<div class="Page4 Wrapper">
    <div class="Page4-img">
        <img src="../../assets/images/png/undraw_social.png" alt="Page4social">
    </div>
    <div class="Page4-text">
        <div class="TextBlock1">
            <div class="TextBlock1-h1">
                Light, Fast & Powerful
            </div>
        
            <div class="TextBlock1-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Aenean commodo ligula eget dolor. Aenean massa. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
            </div>

        </div>

    </div>

</div>

</body>

</html>