// якорные ссылки
// position sticky

.Sidenav {
    display: inline-flex;
    flex-direction: column;
    background: black;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 100vh;


    &-link {
        color: #818181;
        font: 500 22px/28px Arial;
        padding: 5px 10px;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: white;
        }
    }
}

.Main {
    padding: 15px;
}

.Page {
    display: flex;

    &-sidenav{
        > * {
            position: sticky;
            top: 0px;
        }
        
    }
    &-main{}

}