<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="hero-content.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<div class="HeroContent">
    <div class="HeroContent-h1">
        Introduce Your Product Quickly & Effectively
    </div>

    <div class="HeroContent-text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. 
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
    </div>

    <div class="HeroContent-BtnBlock">
        <div class="Btn Btn--inline">Purchase UI Kit</div>
        <div class="Btn Btn--outline">Learn More</div>
    </div>
</div>

</body>

</html>