@import "../../assets/styles/global"; 
@import "../page6/page6";
@import "../futer-block/futer-block";



.ContentFooter-Start {
    background-image: url("../../assets/images/png/Rectangle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 50px;   
} 

.ContentFooter-End {
    background:#E7ECFF;
}

.ContentFooter {
   margin: 0;
}
