<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page7</title>
    <link rel="stylesheet" href="page7.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>

<div class="Page7">
    <div class="Wrapper">
        <div class="FuterStart">
            <div class="FuterStart--left">
                <img src="../../assets/images/png/©2019 UIX.png" alt="2019 UIX"/>
            </div>
        
            <div class="FuterStart--center">Landie</div>
        
            <div class="FuterStart--right">
                <div class="Btn Btn--inline">ECD6D6E8-ABBE-4B2D-84DE-906D920771E1</div> 
        
            </div>
        
        </div>
        
    </div>

</div>

</body>

</html>