@import '../futer-start/futer-start';
@import '../futer-end/futer-end';
@import "../../assets/styles/global"; 
 

.FuterBlock {
    background: #E7ECFF;
    height: 216px;

    &-top {
        margin-top: 0px;
    }

    &-bottom {
        margin-top: 0px;
    }
}  
