<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="text-block1.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<div class="TextBlock1">
    <div class="TextBlock1-h1">
        Light, Fast & Powerful
    </div>

    <div class="TextBlock1-text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. 
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
    </div>

    <div class="TextBlock1-infoCardBlock">
        <div class="InfoCardBlock">
            <div class="InfoCard">
                <div class="InfoCard-Icon">
                    <div>
                        <img src="../../assets/images/png/Icon.png" alt="Icon Card"> 
                    </div>
                </div>
            
                <div class="InfoCard-h1">Title Goes Here</div>
            
                <div class="InfoCard-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor.
                </div>
            
            </div>
            
            <div class="InfoCard InfoCardBlock--icon2">
                <div class="InfoCard-Icon">
                    <div>
                        <img src="../../assets/images/png/Icon.png" alt="Icon Card"> 
                    </div>
                </div>
            
                <div class="InfoCard-h1">Title Goes Here</div>
            
                <div class="InfoCard-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor.
                </div>
            
            </div>
        
        </div>
    </div>
</div>

</body>

</html>